:root {
  --black: #0e0e0e;
  --white: #fafafa;
  --medium-aquamarine: #64bb8f;
  --black-purple: #2a2b3a;
  --dark-grey: #9e9e9e;
  --bg-black: #0a0a0a;
}

p {
  margin-bottom: 0;
  font-weight: 300;
}

li {
  margin-bottom: 1.25rem;
  font-family: Exo, sans-serif;
}

.section {
  width: 100%;
  margin-top: 2.5rem;
  font-family: Exo, sans-serif;
}

.section.is--main {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), #000 85%), url('../images/virtualni-produkce-01.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding: 5rem;
  display: flex;
}

.section.is-2-cols {
  padding: 5rem;
  display: flex;
}

.section.is-2-cols.is-full-h {
  align-items: center;
  min-height: 100vh;
}

.section.is-2-cols.is-full-h.screen-02 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .71) 50%, #000), url('../images/virtualni-produkce-02.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section.is-2-cols.is-full-h.screen-03 {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .53) 50%, #000), url('../images/vp-zive.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  margin-top: 0;
  margin-bottom: 0;
}

.section.is-2-cols.is-full-h.screen-04 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .71) 50%, #000), url('../images/virtualni-produkce-02.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  margin-top: 0;
  margin-bottom: 0;
}

.section.is--footer {
  margin-top: 0;
  padding: 5rem;
  font-family: Exo, sans-serif;
  font-size: .75rem;
}

.section.is-second {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  color: #111;
  background-color: #fafafa;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding: 5rem;
  display: grid;
  position: relative;
}

.section.is-full-w {
  color: #111;
  background-color: #fafafa;
  margin-top: 0;
  padding: 5rem;
  display: block;
  position: relative;
}

.section.is-full-w.is-dark {
  background-color: var(--black);
  color: var(--white);
}

.section.is-full-w.is-dark.is-centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.is-full-w.is-dark.is--footer {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: center;
  display: flex;
}

.section.is-full-w.is-centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body {
  color: #fafafa;
  background-color: #000;
  font-family: Exo, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.col-50 {
  width: 50%;
  height: 100%;
  margin-right: 5rem;
}

.col-50.right-align {
  text-align: right;
  margin-left: auto;
}

.col-50.is-right {
  margin-left: auto;
}

.heading--h1 {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3;
}

.button.is--main {
  background-color: var(--medium-aquamarine);
  box-shadow: 0 0 0 0 var(--medium-aquamarine);
  border-radius: .5rem;
  margin-top: 2.5rem;
  font-family: Exo, sans-serif;
  font-weight: 700;
  transition: transform .2s, box-shadow .2s;
  display: inline-block;
}

.button.is--main:hover {
  box-shadow: 0 13px 20px -15px var(--medium-aquamarine);
  transform: translate(0, -5px);
}

.button.is--main.is--link {
  color: #fff;
}

.button.is-white {
  background-color: var(--white);
  color: var(--black);
  border-radius: .4rem;
  font-size: .75rem;
  font-weight: 300;
  display: inline-block;
}

.button--text {
  text-transform: uppercase;
  padding: 1rem;
  display: block;
}

.nav--wrapper {
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  display: flex;
}

.is--logo {
  width: 5rem;
  height: 100%;
}

.divider-line {
  background-image: linear-gradient(to right, black, var(--white) 50%, #000);
  box-shadow: 0 0 30px 1px var(--white);
  width: 100%;
  height: 1px;
}

.heading-h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3;
}

.is-text {
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-weight: 300;
  position: static;
}

.is-text.shadow {
  text-shadow: 0 1px 10px #000;
}

.col-100 {
  width: 70%;
  height: 100%;
  margin-right: 5rem;
}

.col-100.right-align {
  text-align: right;
  margin-left: auto;
}

.col-100.is-right {
  margin-left: auto;
}

.service-01 {
  border-right: 1px solid rgba(100, 187, 143, .24);
  margin-right: 0;
  padding-right: 2.5rem;
}

.list-item, .heading {
  font-family: Exo, sans-serif;
}

.heading-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-weight: 400;
}

.copy.greyed {
  font-size: .75rem;
}

.cols {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.service {
  background-color: #fafafa;
  border: 1px solid #ececec;
  border-radius: .5rem;
  width: auto;
  margin-bottom: 2.5rem;
  padding: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

.heading-wrapper {
  flex: 0 auto;
  align-self: flex-start;
  margin-right: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.heading-2.big {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-2.big.centered {
  text-align: center;
}

.full-w {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  background-image: url('../images/Snímek-obrazovky-2023-05-03-v-23.04.43.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  min-height: 80vh;
  display: grid;
}

.full-w._02 {
  background-image: url('../images/Snímek-obrazovky-2023-05-03-v-23.05.30.webp');
}

.full-w._03 {
  background-image: linear-gradient(to right, var(--black), rgba(14, 14, 14, 0)), url('../images/vp-zive.webp');
  color: var(--white);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.featured-work {
  -webkit-backdrop-filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, .26);
  border-radius: .5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  padding: 2.5rem;
  display: inline-block;
  overflow: hidden;
}

.is-cta {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 2.5rem;
  display: grid;
}

.is-cta.grad {
  border: 1px solid var(--black-purple);
  background-image: radial-gradient(circle at 50% 0, #000 56%, #055c39 82%, #0bcf80);
  grid-template-columns: 2fr 2fr;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.greyed {
  color: var(--dark-grey);
  font-weight: 300;
}

.greyed.capped {
  text-transform: uppercase;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.paragraph {
  font-weight: 300;
}

.no {
  margin-right: 1rem;
}

.capped {
  text-transform: uppercase;
  padding: .8rem;
}

.capped.spaced {
  letter-spacing: .2rem;
  overflow: visible;
}

.mt-15 {
  margin-top: 1.5rem;
}

.list {
  margin-bottom: 0;
  padding-left: 0;
}

.list-wrapper {
  -webkit-backdrop-filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, .26);
  border-radius: .5rem;
  margin-bottom: 0;
  margin-left: 2.5rem;
  padding: 2.5rem;
  display: inline-block;
  overflow: hidden;
}

.is-link {
  color: var(--white);
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .section.is-second {
    grid-template-columns: 1fr;
  }

  .col-50 {
    width: 100%;
    margin-right: 0;
  }

  .col-50.is-right {
    width: 100%;
    margin-right: auto;
  }

  .col-100 {
    width: 100%;
    margin-right: 0;
  }

  .heading-2.big {
    text-align: center;
  }

  .full-w {
    grid-template-columns: 1fr;
  }

  .featured-work {
    margin-right: 2.5rem;
  }

  .is-cta.grad {
    grid-template-columns: 2fr;
  }

  .list-wrapper {
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .service-01 {
    border-right-style: none;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .section.is--main {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1rem 2.5rem;
  }

  .section.is-2-cols.is-full-h.screen-02, .section.is-2-cols.is-full-h.screen-03 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.5rem 1rem;
  }

  .section.is-2-cols.is-full-h.screen-04 {
    min-height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.5rem 1rem;
  }

  .heading--h1 {
    font-size: 2rem;
  }

  .heading-h2 {
    font-size: 1.6rem;
  }
}

#w-node-_99f0472f-b04f-cabf-489c-15ddacca7f03-89c576f1, #w-node-_2d80c45e-e10d-1107-e58c-09719b0441ab-89c576f1 {
  align-self: end;
}

#w-node-_9d8ecb17-ebc4-52b9-c734-097d5717a0d6-89c576f1 {
  align-self: center;
}

#w-node-_50e3a4e9-5451-6193-c326-89c4e46975b6-89c576f1, #w-node-abcb0d4f-8b07-de37-3fc7-5018ac5e84a1-89c576f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Breymont';
  src: url('../fonts/Breymont-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Breymont';
  src: url('../fonts/Breymont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}